/* src/index.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  color: #333;
}

h4 {
  margin-bottom: 20px;
}

.MuiContainer-root {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
